<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <p><%= locals  %></p>
    <h1>Verify your email, <%=  username  %></h1>
    <p>Click the link below to verify your email</p>
    <a href="<%= link %>">Verify Email</a> 
</body>
</html>