<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merchant Verified</title>
</head>
<body>
    <h1>Good Day, <%=  name  %></h1>
    <p>Your Merchant Profile Request has been Approved</p>
    <a href="<%= link %>">Check Merchant Profile</a> 
</body>
</html>